VITE_NODE_ENV = "dev"
VITE_LOCAL_BACKEND_URL = "http://localhost:3000"
VITE_DROPLET_BACKEND_URL = "http://www.germany-assist.com/backend"
VITE_GOOGLE_CLIENT_ID = "***************************************************"
VITE_STRIPE_SK = ""******************************************************************************************************"
